In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
csv_path = ("rides.csv")
df = pd.read_csv(csv_path, parse_dates = ['Started at','Finished at'])
df.head()

,ID,Vehicle ID,Status,Member,Member ID,Duration,Fare,Started at,Finished at,Member Type,Starting Parking Station Name,End Parking Station Name,Ride Distance,Starting Parking lot id,End Parking lot id
0,23737,28.0,finished,anjum shaik,11154,0:10:53,0,2019-01-13 21:22:00,2019-01-13 21:33:00,casual_user,"Yashodhan Nagar, Vartak Nagar, ठाणे, Thane, Ma...",R-Mall,1.9,NaN,15.0
1,23736,107.0,finished,shruthi d kamath,11689,0:21:58,0,2019-01-13 21:15:00,2019-01-13 21:37:00,casual_user,"Kolse Wadi, Kapur Bawadi, ठाणे, Thane, Maharas...",Highland Park,2.3,NaN,18.0
2,23735,22.0,finished,Ankit THAKUR,13558,0:09:38,0,2019-01-13 21:12:00,2019-01-13 21:22:00,casual_user,"Service Road, Kolse Wadi, Majiwada, ठाणे, Than...","Kolse Wadi, Kapur Bawadi, ठाणे, Thane, Maharas...",3.1,NaN,NaN
3,23734,171.0,finished,Ankit THAKUR,13558,0:01:12,0,2019-01-13 21:10:00,2019-01-13 21:11:00,casual_user,"Dr Kashinath Ghanekar Drama theatre, Gladys Al...","Dr Kashinath Ghanekar Drama theatre, Gladys Al...",0.0,NaN,NaN
4,23733,158.0,finished,asmita kadam,13761,0:24:08,0,2019-01-13 21:07:00,2019-01-13 21:31:00,casual_user,"Kolse Wadi, Kapur Bawadi, ठाणे, Thane, Maharas...",Highland Park,3.6,NaN,18.0

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14002 entries, 0 to 14001
Data columns (total 15 columns):
ID                               14002 non-null int64
Vehicle ID                       13567 non-null float64
Status                           14002 non-null object
Member                           13387 non-null object
Member ID                        14002 non-null int64
Duration                         14002 non-null object
Fare                             14002 non-null int64
Started at                       14002 non-null datetime64[ns]
Finished at                      14002 non-null datetime64[ns]
Member Type                      14002 non-null object
Starting Parking Station Name    13232 non-null object
End Parking Station Name         13249 non-null object
Ride Distance                    13925 non-null float64
Starting Parking lot id          9678 non-null float64
End Parking lot id               9946 non-null float64
dtypes: datetime64[ns](2), float64(4), int64(3), object(6)
memory usage: 1.6+ MB

### Looking for Unfinised rides

In [29]:
df[df.Status != 'finished']

Empty DataFrame
Columns: [ID, Vehicle ID, Status, Member, Member ID, Duration, Fare, Started at, Finished at, Member Type, Starting Parking Station Name, End Parking Station Name, Ride Distance, Starting Parking lot id, End Parking lot id]
Index: []

### Looking for Rides with duration less than a minute.

In [30]:
df['Duration'].loc[df.Duration < '0:01:00'].count() #6392 rides with duration less than a minute

6392

In [31]:
df.loc[df.Duration < '0:01:00']

,ID,Vehicle ID,Status,Member,Member ID,Duration,Fare,Started at,Finished at,Member Type,Starting Parking Station Name,End Parking Station Name,Ride Distance,Starting Parking lot id,End Parking lot id
7,23730,116.0,finished,Harish Nair,7846,0:00:42,0,2019-01-13 20:39:00,2019-01-13 20:40:00,casual_user,"Pokhran Road 2, Kolse Wadi, Majiwada, ठाणे, Th...","Pokhran Road 2, Kolse Wadi, Majiwada, ठाणे, Th...",0.0,NaN,NaN
8,23729,28.0,finished,yaseen,8435,0:00:15,0,2019-01-13 20:33:00,2019-01-13 20:33:00,casual_user,"The Origin Fertility Clinic, Gladys Alwares Ro...",Kashinath Ghanekar,0.0,NaN,10.0
10,23727,239.0,finished,Rahul Sonsale,7796,0:00:32,0,2019-01-13 20:23:00,2019-01-13 20:24:00,casual_user,"Pokhran Road 2, Kolse Wadi, Majiwada, ठाणे, Th...",Tata Sirien,0.0,NaN,6.0
14,23723,64.0,finished,rhea duseja,11609,0:00:21,0,2019-01-13 20:05:00,2019-01-13 20:05:00,casual_user,"Tulsidham Road, Vartak Nagar, ठाणे, Thane, Mah...","Tulsidham Road, Vartak Nagar, ठाणे, Thane, Mah...",0.0,NaN,NaN
15,23722,64.0,finished,rhea duseja,11609,0:00:21,0,2019-01-13 20:03:00,2019-01-13 20:04:00,casual_user,Vasant Vihar,Vasant Vihar,0.0,9.0,9.0
17,23720,88.0,finished,Suresh,7950,0:00:15,0,2019-01-13 19:58:00,2019-01-13 19:59:00,casual_user,"Smt. Sulochanadevi Singhania School, Pokhran R...","Smt. Sulochanadevi Singhania School, Pokhran R...",0.0,NaN,NaN
25,23712,59.0,finished,Suresh,7950,0:00:19,0,2019-01-13 19:35:00,2019-01-13 19:35:00,casual_user,Singhania School,Singhania School,0.0,3.0,3.0
30,23707,70.0,finished,vikas pandurang kulkarni,13297,0:00:24,0,2019-01-13 19:16:00,2019-01-13 19:17:00,casual_user,"Brahmand Nagar, ठाणे, Thane, Maharashtra, 4006...",Patlipada,0.0,NaN,12.0
34,23702,153.0,finished,Sandeep Vora,13161,0:00:50,0,2019-01-13 19:10:00,2019-01-13 19:11:00,casual_user,Vartak Nagar,Vartak Nagar,0.0,2.0,2.0
41,23695,112.0,finished,Madhav Narayan Aarotale,7779,0:00:21,0,2019-01-13 18:42:00,2019-01-13 18:42:00,casual_user,"Service Road, Dnyaneshwar Nagar, Naupada, ठाणे...","Service Road, Dnyaneshwar Nagar, Naupada, ठाणे...",0.0,NaN,NaN
42,23694,79.0,finished,Madhav Narayan Aarotale,7779,0:00:14,0,2019-01-13 18:41:00,2019-01-13 18:42:00,casual_user,"Eastern Express Highway, Dnyaneshwar Nagar, Na...","Eastern Express Highway, Dnyaneshwar Nagar, Na...",0.0,NaN,NaN
43,23693,79.0,finished,Madhav Narayan Aarotale,7779,0:00:12,0,2019-01-13 18:41:00,2019-01-13 18:41:00,casual_user,"Eastern Express Highway, Dnyaneshwar Nagar, Na...",EEH Panchpakadi Entrence,0.0,NaN,21.0
44,23692,93.0,finished,Madhav Narayan Aarotale,7779,0:00:17,0,2019-01-13 18:40:00,2019-01-13 18:40:00,casual_user,"Dharmaveer Marg, Dnyaneshwar Nagar, Naupada, ठ...","Eastern Express Highway, Dnyaneshwar Nagar, Na...",0.0,NaN,NaN
46,23690,241.0,finished,Madhav Narayan Aarotale,7779,0:00:17,0,2019-01-13 18:39:00,2019-01-13 18:39:00,casual_user,"Yashodhan Nagar, Lokmanya Nagar, ठाणे, Thane, ...","Eastern Express Highway, Dnyaneshwar Nagar, Na...",1.6,NaN,NaN
47,23689,186.0,finished,Madhav Narayan Aarotale,7779,0:00:15,0,2019-01-13 18:39:00,2019-01-13 18:39:00,casual_user,"Service Road, Dnyaneshwar Nagar, Naupada, ठाणे...","Eastern Express Highway, Dnyaneshwar Nagar, Na...",0.0,NaN,NaN
48,23688,153.0,finished,Rajendra Salvi,5671,0:00:43,0,2019-01-13 18:38:00,2019-01-13 18:39:00,casual_user,Vartak Nagar,Vartak Nagar,0.0,2.0,2.0
49,23687,96.0,finished,Madhav Narayan Aarotale,7779,0:00:22,0,2019-01-13 18:37:00,2019-01-13 18:38:00,casual_user,"Dharmaveer Marg, Dnyaneshwar Nagar, Naupada, ठ...","Eastern Express Highway, Dnyaneshwar Nagar, Na...",0.0,NaN,NaN
54,23682,96.0,finished,Madhav Narayan Aarotale,7779,0:00:53,0,2019-01-13 18:17:00,2019-01-13 18:18:00,casual_user,ILC Warehouse,ILC Warehouse,0.0,13.0,13.0
55,23681,186.0,finished,Madhav Narayan Aarotale,7779,0:00:17,0,2019-01-13 18:11:00,2019-01-13 18:11:00,casual_user,"Yashodhan Nagar, Lokmanya Nagar, ठाणे, Thane, ...","Yashodhan Nagar, Lokmanya Nagar, ठाणे, Thane, ...",0.0,NaN,NaN
57,23679,120.0,finished,Madhav Narayan Aarotale,7779,0:00:14,0,2019-01-13 18:07:00,2019-01-13 18:08:00,casual_user,ILC Warehouse,ILC Warehouse,0.0,13.0,13.0
59,23677,84.0,finished,Syed Muddassir Ahmed,7781,0:00:23,0,2019-01-13 18:04:00,2019-01-13 18:04:00,casual_user,Shivai Nagar,Shivai Nagar,0.0,14.0,14.0
63,23673,106.0,finished,Syed Muddassir Ahmed,7781,0:00:14,0,2019-01-13 17:49:00,2019-01-13 17:49:00,casual_user,"Upvan Lake Road, Yashodhan Nagar, Shivai Nagar...",Shivai Nagar,0.0,NaN,14.0
69,23667,116.0,finished,Rahul Sonsale,7796,0:00:38,0,2019-01-13 17:36:00,2019-01-13 17:37:00,casual_user,"Pokhran Road 2, Kolse Wadi, Majiwada, ठाणे, Th...",Tata Sirien,0.0,NaN,6.0
70,23666,116.0,finished,Rahul Sonsale,7796,0:00:25,0,2019-01-13 17:36:00,2019-01-13 17:36:00,casual_user,Tata Sirien,"Pokhran Road 2, Kolse Wadi, Majiwada, ठाणे, Th...",0.0,6.0,NaN
71,23665,116.0,finished,Rahul Sonsale,7796,0:00:34,0,2019-01-13 17:34:00,2019-01-13 17:34:00,casual_user,Tata Sirien,"Pokhran Road 2, Kolse Wadi, Majiwada, ठाणे, Th...",0.0,6.0,NaN
72,23664,79.0,finished,Madhav Narayan Aarotale,7779,0:00:34,0,2019-01-13 17:32:00,2019-01-13 17:32:00,casual_user,ILC Warehouse,ILC Warehouse,0.0,13.0,13.0
73,23663,112.0,finished,Madhav Narayan Aarotale,7779,0:00:28,0,2019-01-13 17:30:00,2019-01-13 17:30:00,casual_user,"Yashodhan Nagar, Lokmanya Nagar, ठाणे, Thane, ...",ILC Warehouse,0.0,NaN,13.0
74,23662,93.0,finished,Madhav Narayan Aarotale,7779,0:00:31,0,2019-01-13 17:29:00,2019-01-13 17:29:00,casual_user,ILC Warehouse,"Yashodhan Nagar, Lokmanya Nagar, ठाणे, Thane, ...",0.0,13.0,NaN
87,23649,242.0,finished,Rahul Talawadekar,13754,0:00:49,0,2019-01-13 15:41:00,2019-01-13 15:42:00,casual_user,"Korum Mall, Service Road, Dnyaneshwar Nagar, N...","Korum Mall, Service Road, Dnyaneshwar Nagar, N...",0.1,NaN,NaN
88,23648,242.0,finished,Rahul Talawadekar,13754,0:00:33,0,2019-01-13 15:39:00,2019-01-13 15:39:00,casual_user,"Korum Mall, Service Road, Dnyaneshwar Nagar, N...","Korum Mall, Service Road, Dnyaneshwar Nagar, N...",0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13565,10171,82.0,finished,Srinidhi,12,0:00:41,0,2018-10-15 09:20:00,2018-10-15 09:21:00,casual_user,ILC Warehouse,ILC Warehouse,0.0,13.0,13.0
13587,10149,NaN,finished,Janardhan Mane,7369,0:00:22,0,2018-09-25 07:06:00,2018-09-25 07:06:00,casual_user,NaN,NaN,0.0,NaN,NaN
13591,10145,NaN,finished,Sailesh Sharma,4091,0:00:18,0,2018-09-24 18:23:00,2018-09-24 18:24:00,casual_user,NaN,NaN,NaN,NaN,NaN
13641,10094,NaN,finished,Sagar,7336,0:00:27,0,2018-09-20 21:35:00,2018-09-20 21:36:00,casual_user,NaN,NaN,0.2,NaN,NaN
13648,10087,NaN,finished,Suresh,7279,0:00:49,0,2018-09-20 14:28:00,2018-09-20 14:28:00,casual_user,NaN,NaN,1.1,NaN,NaN
13666,10069,NaN,finished,Arun Pendharkar,3379,0:00:16,0,2018-09-19 18:30:00,2018-09-19 18:30:00,casual_user,NaN,NaN,NaN,NaN,NaN
13669,10066,NaN,finished,Tanaji bhansode,4867,0:00:11,0,2018-09-19 17:15:00,2018-09-19 17:16:00,casual_user,NaN,NaN,0.0,NaN,NaN
13674,10061,NaN,finished,Avinash Sawant,5260,0:00:23,0,2018-09-18 20:32:00,2018-09-18 20:33:00,casual_user,NaN,NaN,0.1,NaN,NaN
13689,10046,NaN,finished,Arundeep Pathania,2131,0:00:24,0,2018-09-18 06:45:00,2018-09-18 06:45:00,casual_user,NaN,NaN,1.6,NaN,NaN
13719,10016,NaN,finished,Arun Mukesh,7332,0:00:12,0,2018-09-15 19:31:00,2018-09-15 19:32:00,casual_user,NaN,NaN,0.1,NaN,NaN
13730,10005,NaN,finished,Ajay Soni,6218,0:00:48,0,2018-09-15 07:21:00,2018-09-15 07:22:00,casual_user,NaN,NaN,NaN,NaN,NaN
13732,10003,NaN,finished,Srinidhi,12,0:00:52,0,2018-09-14 19:15:00,2018-09-14 19:16:00,casual_user,NaN,NaN,0.0,NaN,NaN
13737,9998,NaN,finished,Komal heffa,6997,0:00:14,0,2018-09-14 14:31:00,2018-09-14 14:31:00,casual_user,NaN,NaN,0.0,NaN,NaN
13757,9978,NaN,finished,Rupesh,7410,0:00:45,0,2018-09-13 09:26:00,2018-09-13 09:27:00,casual_user,NaN,NaN,0.4,NaN,NaN
13802,9933,NaN,finished,Mary Baby,4911,0:00:14,0,2018-10-09 18:54:00,2018-10-09 18:55:00,casual_user,NaN,NaN,0.0,NaN,NaN
13803,9932,NaN,finished,Mary Baby,4911,0:00:27,0,2018-10-09 18:52:00,2018-10-09 18:52:00,casual_user,NaN,NaN,0.0,NaN,NaN
13858,9874,NaN,finished,Pravin Lad,7179,0:00:11,0,2018-08-09 18:38:00,2018-08-09 18:38:00,casual_user,NaN,NaN,NaN,NaN,NaN
13860,9872,NaN,finished,Sonia Dembla,6326,0:00:45,0,2018-08-09 18:30:00,2018-08-09 18:31:00,casual_user,NaN,NaN,230.6,NaN,NaN
13869,9863,NaN,finished,Rajendra Salvi,5671,0:00:16,0,2018-08-09 07:28:00,2018-08-09 07:29:00,casual_user,NaN,NaN,0.3,NaN,NaN
13877,9855,NaN,finished,NaN,7439,0:00:45,0,2018-08-09 06:19:00,2018-08-09 06:20:00,casual_user,NaN,NaN,NaN,NaN,NaN
13890,9842,NaN,finished,Sangita Dalvi,6493,0:00:23,0,2018-07-09 08:32:00,2018-07-09 08:32:00,casual_user,NaN,NaN,0.1,NaN,NaN
13897,9835,NaN,finished,Srinidhi,12,0:00:33,0,2018-07-09 07:10:00,2018-07-09 07:11:00,casual_user,NaN,NaN,0.0,NaN,NaN
13906,9826,NaN,finished,Sailesh Ambre,2299,0:00:00,-200,2018-06-09 18:20:00,2018-06-09 18:20:00,casual_user,NaN,NaN,1.6,NaN,NaN
13911,9821,NaN,finished,Janardhan Mane,7369,0:00:11,0,2018-06-09 07:43:00,2018-06-09 07:43:00,casual_user,NaN,NaN,NaN,NaN,NaN
13912,9820,NaN,finished,Janardhan Mane,7369,0:00:12,0,2018-06-09 07:42:00,2018-06-09 07:42:00,casual_user,NaN,NaN,0.0,NaN,NaN
13935,9797,NaN,finished,Praveen Kumar,7343,0:00:00,-20,2018-04-09 15:50:00,2018-04-09 15:50:00,casual_user,NaN,NaN,2.7,NaN,NaN
13945,9787,NaN,finished,Avijit Chowdhury,5556,0:00:14,0,2018-03-09 18:41:00,2018-03-09 18:41:00,casual_user,NaN,NaN,1.7,NaN,NaN
13954,9778,NaN,finished,Janardhan Mane,7369,0:00:17,0,2018-03-09 06:55:00,2018-03-09 06:55:00,casual_user,NaN,NaN,0.0,NaN,NaN
13970,9762,NaN,finished,Janardhan Mane,7369,0:00:13,0,2018-02-09 08:57:00,2018-02-09 08:57:00,casual_user,NaN,NaN,0.1,NaN,NaN
14000,9732,NaN,finished,Janardhan Mane,7369,0:00:12,0,2018-01-09 07:22:00,2018-01-09 07:22:00,casual_user,NaN,NaN,0.0,NaN,NaN

### Dropping rides with duration less than a minute

In [32]:
new_df = df.drop(df[df.Duration < '0:01:00'].index)
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7610 entries, 0 to 14001
Data columns (total 15 columns):
ID                               7610 non-null int64
Vehicle ID                       7204 non-null float64
Status                           7610 non-null object
Member                           7234 non-null object
Member ID                        7610 non-null int64
Duration                         7610 non-null object
Fare                             7610 non-null int64
Started at                       7610 non-null datetime64[ns]
Finished at                      7610 non-null datetime64[ns]
Member Type                      7610 non-null object
Starting Parking Station Name    7040 non-null object
End Parking Station Name         7030 non-null object
Ride Distance                    7539 non-null float64
Starting Parking lot id          5146 non-null float64
End Parking lot id               5321 non-null float64
dtypes: datetime64[ns](2), float64(4), int64(3), object(6)
memory usage: 951.2+ KB

In [33]:
new_df.loc[new_df['Ride Distance'] == 0]

,ID,Vehicle ID,Status,Member,Member ID,Duration,Fare,Started at,Finished at,Member Type,Starting Parking Station Name,End Parking Station Name,Ride Distance,Starting Parking lot id,End Parking lot id
3,23734,171.0,finished,Ankit THAKUR,13558,0:01:12,0,2019-01-13 21:10:00,2019-01-13 21:11:00,casual_user,"Dr Kashinath Ghanekar Drama theatre, Gladys Al...","Dr Kashinath Ghanekar Drama theatre, Gladys Al...",0.0,NaN,NaN
22,23715,212.0,finished,Syed Muddassir Ahmed,7781,0:01:09,0,2019-01-13 19:46:00,2019-01-13 19:47:00,casual_user,Vartak Nagar,Vartak Nagar,0.0,2.0,2.0
23,23714,153.0,finished,Syed Muddassir Ahmed,7781,0:02:43,0,2019-01-13 19:40:00,2019-01-13 19:43:00,casual_user,Vartak Nagar,Vartak Nagar,0.0,2.0,2.0
35,23701,241.0,finished,eknath supadu nemade,12238,3:16:06,85,2019-01-13 19:06:00,2019-01-13 22:22:00,casual_user,"Eastern Express Highway, Dnyaneshwar Nagar, Na...","Service Road, Dnyaneshwar Nagar, Naupada, ठाणे...",0.0,NaN,NaN
37,23699,107.0,finished,NaN,12874,0:01:33,0,2019-01-13 18:55:00,2019-01-13 18:56:00,casual_user,"Agra Road, Kolse Wadi, Kapur Bawadi, ठाणे, Tha...","Agra Road, Kolse Wadi, Kapur Bawadi, ठाणे, Tha...",0.0,NaN,NaN
56,23680,106.0,finished,Syed Muddassir Ahmed,7781,0:01:20,0,2019-01-13 18:08:00,2019-01-13 18:10:00,casual_user,Shivai Nagar,"Upvan Lake Road, Yashodhan Nagar, Shivai Nagar...",0.0,14.0,NaN
60,23676,84.0,finished,Syed Muddassir Ahmed,7781,0:01:04,0,2019-01-13 18:02:00,2019-01-13 18:03:00,casual_user,Shivai Nagar,Shivai Nagar,0.0,14.0,14.0
67,23669,106.0,finished,Praveen Kumar,7343,0:03:28,0,2019-01-13 17:40:00,2019-01-13 17:43:00,casual_user,"Upvan Lake Road, Yashodhan Nagar, Shivai Nagar...","Upvan Lake Road, Yashodhan Nagar, Shivai Nagar...",0.0,NaN,NaN
82,23654,209.0,finished,jayesh sanjay gupta,13017,0:08:27,0,2019-01-13 16:50:00,2019-01-13 16:59:00,subscribed_user,"Kranti Nagar, Thane West, ठाणे, Thane, Maharas...","Kranti Nagar, Thane West, ठाणे, Thane, Maharas...",0.0,NaN,NaN
84,23652,128.0,finished,Praveen Kumar,7343,0:04:19,0,2019-01-13 16:34:00,2019-01-13 16:38:00,casual_user,ILC Warehouse,ILC Warehouse,0.0,13.0,13.0
107,23629,181.0,finished,Manohar,8532,0:02:35,0,2019-01-13 13:41:00,2019-01-13 13:44:00,casual_user,"The Origin Fertility Clinic, Gladys Alwares Ro...",Kashinath Ghanekar,0.0,NaN,10.0
149,23587,209.0,finished,Madhav shivajirao waghchaure,13551,1:47:19,25,2019-01-13 08:24:00,2019-01-13 10:11:00,subscribed_user,Collector's Office,Collector's Office,0.0,27.0,27.0
151,23585,70.0,finished,yaseen,8435,0:01:57,0,2019-01-13 08:18:00,2019-01-13 08:20:00,casual_user,"Hiranandani Estate, Brahmand Nagar, ठाणे, Than...","Brahmand Nagar, ठाणे, Thane, Maharashtra, 4006...",0.0,NaN,NaN
156,23580,114.0,finished,Amol Chaudhary,8060,0:01:08,0,2019-01-13 08:15:00,2019-01-13 08:16:00,casual_user,Kashinath Ghanekar,Kashinath Ghanekar,0.0,10.0,10.0
169,23567,104.0,finished,Vinodkumar.Pp,13757,0:03:35,0,2019-01-13 07:51:00,2019-01-13 07:55:00,casual_user,"Happy Valley Homes, Gladys Alwares Road, Kolse...","SBI, Gladys Alwares Road, Kolse Wadi, Vartak N...",0.0,NaN,NaN
185,23551,84.0,finished,shreekant salunkhe,12033,0:01:22,0,2019-01-13 06:53:00,2019-01-13 06:54:00,casual_user,Highland Park,Highland Park,0.0,18.0,18.0
188,23548,2.0,finished,Rakesh Desai,10419,2:16:22,45,2019-01-13 06:40:00,2019-01-13 08:56:00,casual_user,Singhania School,Singhania School,0.0,3.0,3.0
215,23521,92.0,finished,vandana kisan gawade,13214,0:07:54,0,2019-12-01 19:40:00,2019-12-01 19:47:00,casual_user,"Gadkari Rangayatan, Dr. Moose Road, Chendani K...",Goodwin Jewellers,0.0,NaN,22.0
224,23512,175.0,finished,Rupesh,7798,0:02:01,0,2019-12-01 19:15:00,2019-12-01 19:17:00,casual_user,Vihang Hotel,Vihang Hotel,0.0,16.0,16.0
245,23491,244.0,finished,Pravin bhachu gami,12427,0:01:10,0,2019-12-01 18:29:00,2019-12-01 18:30:00,casual_user,Tata Sirien,"Pokhran Road 2, Kolse Wadi, Majiwada, ठाणे, Th...",0.0,6.0,NaN
248,23488,92.0,finished,Alex,10423,0:01:04,0,2019-12-01 18:26:00,2019-12-01 18:27:00,casual_user,"Chendani Koliwada, Naupada, ठाणे, Thane, Mahar...","Ahilyadevi Holkar Marg, Chendani Koliwada, Tha...",0.0,NaN,NaN
254,23482,239.0,finished,pradnya bhori,11572,0:02:31,0,2019-12-01 18:20:00,2019-12-01 18:23:00,casual_user,"Pokhran Road 2, Kolse Wadi, Majiwada, ठाणे, Th...",Tata Sirien,0.0,NaN,6.0
266,23470,115.0,finished,Rahul Sonsale,7796,0:01:00,0,2019-12-01 17:46:00,2019-12-01 17:47:00,casual_user,"Lal Bahadur Shastri Marg, Kolse Wadi, Majiwada...",Majiwada,0.0,NaN,5.0
269,23467,212.0,finished,Madhav Narayan Aarotale,7779,0:01:21,0,2019-12-01 17:43:00,2019-12-01 17:44:00,casual_user,ILC Warehouse,ILC Warehouse,0.0,13.0,13.0
272,23464,244.0,finished,Amol,9501,0:01:09,0,2019-12-01 17:38:00,2019-12-01 17:39:00,casual_user,Tata Sirien,Tata Sirien,0.0,6.0,6.0
281,23455,175.0,finished,Aniket,1756,0:04:25,0,2019-12-01 16:57:00,2019-12-01 17:01:00,casual_user,"Bombay Barbeque, Service Road, Dnyaneshwar Nag...","Bombay Barbeque, Service Road, Dnyaneshwar Nag...",0.0,NaN,NaN
282,23454,81.0,finished,Rupesh,7798,0:02:43,0,2019-12-01 16:45:00,2019-12-01 16:48:00,casual_user,Vartak Nagar,Vartak Nagar,0.0,2.0,2.0
299,23437,25.0,finished,Raj Iyer,4691,0:04:40,0,2019-12-01 12:47:00,2019-12-01 12:52:00,casual_user,"Korum Mall, Service Road, Dnyaneshwar Nagar, N...","Korum Mall, Service Road, Dnyaneshwar Nagar, N...",0.0,NaN,NaN
305,23431,154.0,finished,Rupesh,7798,0:01:42,0,2019-12-01 12:26:00,2019-12-01 12:27:00,casual_user,"Patlipada RTO, Thane Ghodbunder Road, Brahmand...","Patlipada RTO, Thane Ghodbunder Road, Brahmand...",0.0,NaN,NaN
312,23424,78.0,finished,NaN,4569,0:01:16,0,2019-12-01 11:24:00,2019-12-01 11:25:00,casual_user,ILC Warehouse,"Yashodhan Nagar, Lokmanya Nagar, ठाणे, Thane, ...",0.0,13.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13517,10219,95.0,finished,soham,7804,0:01:38,0,2018-10-16 12:13:00,2018-10-16 12:14:00,casual_user,ILC Warehouse,ILC Warehouse,0.0,13.0,13.0
13520,10216,95.0,finished,soham,7804,0:01:16,0,2018-10-16 12:10:00,2018-10-16 12:11:00,casual_user,ILC Warehouse,ILC Warehouse,0.0,13.0,13.0
13522,10214,118.0,finished,Rupesh,7798,0:01:42,0,2018-10-16 12:07:00,2018-10-16 12:08:00,casual_user,NaN,ILC Warehouse,0.0,NaN,13.0
13531,10205,157.0,finished,Rupali Tulaskarr,4205,0:21:01,0,2018-10-16 07:49:00,2018-10-16 08:10:00,casual_user,NaN,Tata Sirien,0.0,NaN,6.0
13536,10200,110.0,finished,Syed Muddassir Ahmed,7781,0:01:00,0,2018-10-15 19:30:00,2018-10-15 19:31:00,casual_user,Vartak Nagar,Vartak Nagar,0.0,2.0,2.0
13542,10194,114.0,finished,Syed Muddassir Ahmed,7781,0:01:04,0,2018-10-15 19:21:00,2018-10-15 19:22:00,casual_user,Vartak Nagar,Vartak Nagar,0.0,2.0,2.0
13545,10191,154.0,finished,Rutvij Waze,7785,23:39:22,525,2018-10-15 17:49:00,2018-10-16 17:28:00,casual_user,NaN,NaN,0.0,NaN,NaN
13546,10190,82.0,finished,Syed Muddassir Ahmed,7781,0:01:08,0,2018-10-15 13:49:00,2018-10-15 13:51:00,casual_user,ILC Warehouse,ILC Warehouse,0.0,13.0,13.0
13553,10183,82.0,finished,Syed Muddassir Ahmed,7781,0:01:10,0,2018-10-15 12:16:00,2018-10-15 12:17:00,casual_user,Gandhi Nagar,Gandhi Nagar,0.0,8.0,8.0
13566,10170,82.0,finished,Srinidhi,12,0:02:02,0,2018-10-15 08:46:00,2018-10-15 08:48:00,casual_user,ILC Warehouse,ILC Warehouse,0.0,13.0,13.0
13603,10133,NaN,finished,Shashank Ziman,3382,0:10:49,0,2018-09-23 19:34:00,2018-09-23 19:44:00,casual_user,NaN,NaN,0.0,NaN,NaN
13611,10125,NaN,finished,Sanjana Amberkar,3663,0:11:02,0,2018-09-23 08:46:00,2018-09-23 08:57:00,casual_user,NaN,NaN,0.0,NaN,NaN
13626,10109,NaN,finished,Mary Baby,4911,0:24:36,0,2018-09-22 17:15:00,2018-09-22 17:40:00,casual_user,NaN,NaN,0.0,NaN,NaN
13693,10042,NaN,finished,JIgna Patil,5096,0:06:31,0,2018-09-17 19:54:00,2018-09-17 20:00:00,casual_user,NaN,NaN,0.0,NaN,NaN
13710,10025,NaN,finished,Rukmani Borude,5850,0:19:48,0,2018-09-16 18:04:00,2018-09-16 18:24:00,casual_user,NaN,NaN,0.0,NaN,NaN
13720,10015,NaN,finished,Jagathesan NB,7473,0:21:08,0,2018-09-15 19:29:00,2018-09-15 19:50:00,casual_user,NaN,NaN,0.0,NaN,NaN
13726,10009,NaN,finished,Janardhan Mane,7369,0:14:16,0,2018-09-15 08:52:00,2018-09-15 09:06:00,casual_user,NaN,NaN,0.0,NaN,NaN
13751,9984,NaN,finished,Rukmani Borude,5850,0:28:14,0,2018-09-13 17:58:00,2018-09-13 18:26:00,casual_user,NaN,NaN,0.0,NaN,NaN
13758,9977,NaN,finished,Rupesh,7410,0:50:39,10,2018-09-13 08:34:00,2018-09-13 09:25:00,casual_user,NaN,NaN,0.0,NaN,NaN
13766,9969,NaN,finished,Rukmani Borude,5850,0:22:41,0,2018-12-09 18:10:00,2018-12-09 18:32:00,casual_user,NaN,NaN,0.0,NaN,NaN
13773,9962,NaN,finished,Ramakanta Soni,4173,0:11:55,0,2018-12-09 07:45:00,2018-12-09 07:57:00,casual_user,NaN,NaN,0.0,NaN,NaN
13789,9946,NaN,finished,Rupesh,7410,0:07:02,0,2018-11-09 08:19:00,2018-11-09 08:27:00,casual_user,NaN,NaN,0.0,NaN,NaN
13846,9888,NaN,finished,Janardhan Mane,7369,0:35:17,10,2018-09-09 06:57:00,2018-09-09 07:33:00,casual_user,NaN,NaN,0.0,NaN,NaN
13856,9878,NaN,finished,Pravin Lad,7179,0:27:35,0,2018-08-09 19:11:00,2018-08-09 19:39:00,casual_user,NaN,NaN,0.0,NaN,NaN
13898,9834,NaN,finished,Ramakanta Soni,4173,0:15:48,0,2018-07-09 07:05:00,2018-07-09 07:21:00,casual_user,NaN,NaN,0.0,NaN,NaN
13903,9829,NaN,finished,Amit Karande,3900,0:03:53,0,2018-06-09 18:42:00,2018-06-09 18:46:00,casual_user,NaN,NaN,0.0,NaN,NaN
13947,9785,NaN,finished,Satyam Panigrahi,2759,0:17:08,0,2018-03-09 17:57:00,2018-03-09 18:14:00,casual_user,NaN,NaN,0.0,NaN,NaN
13960,9772,NaN,finished,Sonali Kadam,7019,0:22:29,0,2018-02-09 19:29:00,2018-02-09 19:52:00,casual_user,NaN,NaN,0.0,NaN,NaN
13966,9766,NaN,finished,Rukmani Borude,5850,0:26:20,0,2018-02-09 18:02:00,2018-02-09 18:28:00,casual_user,NaN,NaN,0.0,NaN,NaN
13971,9761,NaN,finished,Amit Karande,3900,1:29:51,15,2018-02-09 08:44:00,2018-02-09 10:14:00,casual_user,NaN,NaN,0.0,NaN,NaN

### Dropping values with Ride Distances that are 0 and greater than 76

In [34]:
df1 = new_df.drop(new_df[new_df['Ride Distance'] > 76].index)

In [35]:
df1 = new_df.drop(new_df[new_df['Ride Distance'] == 0].index)

In [36]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6195 entries, 0 to 14001
Data columns (total 15 columns):
ID                               6195 non-null int64
Vehicle ID                       5809 non-null float64
Status                           6195 non-null object
Member                           5867 non-null object
Member ID                        6195 non-null int64
Duration                         6195 non-null object
Fare                             6195 non-null int64
Started at                       6195 non-null datetime64[ns]
Finished at                      6195 non-null datetime64[ns]
Member Type                      6195 non-null object
Starting Parking Station Name    5736 non-null object
End Parking Station Name         5716 non-null object
Ride Distance                    6124 non-null float64
Starting Parking lot id          4263 non-null float64
End Parking lot id               4413 non-null float64
dtypes: datetime64[ns](2), float64(4), int64(3), object(6)
memory usage: 774.4+ KB

In [37]:
df1.tail()

,ID,Vehicle ID,Status,Member,Member ID,Duration,Fare,Started at,Finished at,Member Type,Starting Parking Station Name,End Parking Station Name,Ride Distance,Starting Parking lot id,End Parking lot id
13996,9736,NaN,finished,N.R Nakhare,1840,0:16:18,0,2018-01-09 08:08:00,2018-01-09 08:25:00,casual_user,NaN,NaN,3.7,NaN,NaN
13997,9735,NaN,finished,Janardhan Mane,7369,0:18:58,0,2018-01-09 07:47:00,2018-01-09 08:06:00,casual_user,NaN,NaN,2.4,NaN,NaN
13998,9734,NaN,finished,N.R Nakhare,1840,0:22:37,0,2018-01-09 07:46:00,2018-01-09 08:08:00,casual_user,NaN,NaN,4.8,NaN,NaN
13999,9733,NaN,finished,Janardhan Mane,7369,0:22:28,0,2018-01-09 07:24:00,2018-01-09 07:46:00,casual_user,NaN,NaN,1.8,NaN,NaN
14001,9731,NaN,finished,Sanjana Amberkar,3663,0:17:24,0,2018-01-09 07:13:00,2018-01-09 07:30:00,casual_user,NaN,NaN,1.2,NaN,NaN

In [38]:
df1['Month'] = pd.DatetimeIndex(df1['Started at']).month

In [39]:
df1['Year'] = pd.DatetimeIndex(df1['Started at']).year

In [40]:
df1

,ID,Vehicle ID,Status,Member,Member ID,Duration,Fare,Started at,Finished at,Member Type,Starting Parking Station Name,End Parking Station Name,Ride Distance,Starting Parking lot id,End Parking lot id,Month,Year
0,23737,28.0,finished,anjum shaik,11154,0:10:53,0,2019-01-13 21:22:00,2019-01-13 21:33:00,casual_user,"Yashodhan Nagar, Vartak Nagar, ठाणे, Thane, Ma...",R-Mall,1.9,NaN,15.0,1,2019
1,23736,107.0,finished,shruthi d kamath,11689,0:21:58,0,2019-01-13 21:15:00,2019-01-13 21:37:00,casual_user,"Kolse Wadi, Kapur Bawadi, ठाणे, Thane, Maharas...",Highland Park,2.3,NaN,18.0,1,2019
2,23735,22.0,finished,Ankit THAKUR,13558,0:09:38,0,2019-01-13 21:12:00,2019-01-13 21:22:00,casual_user,"Service Road, Kolse Wadi, Majiwada, ठाणे, Than...","Kolse Wadi, Kapur Bawadi, ठाणे, Thane, Maharas...",3.1,NaN,NaN,1,2019
4,23733,158.0,finished,asmita kadam,13761,0:24:08,0,2019-01-13 21:07:00,2019-01-13 21:31:00,casual_user,"Kolse Wadi, Kapur Bawadi, ठाणे, Thane, Maharas...",Highland Park,3.6,NaN,18.0,1,2019
5,23732,107.0,finished,Rohan D kamath,11640,0:24:07,0,2019-01-13 20:50:00,2019-01-13 21:14:00,casual_user,"Dhokali Road, Kolse Wadi, Kapur Bawadi, ठाणे, ...","Kolse Wadi, Kapur Bawadi, ठाणे, Thane, Maharas...",3.5,NaN,NaN,1,2019
6,23731,244.0,finished,Harish Nair,7846,0:55:35,10,2019-01-13 20:42:00,2019-01-13 21:37:00,casual_user,Tata Sirien,Tata Sirien,1.0,6.0,6.0,1,2019
9,23728,21.0,finished,Tanvi,8938,1:04:58,25,2019-01-13 20:32:00,2019-01-13 21:37:00,casual_user,Tata Sirien,Kashinath Ghanekar,2.3,6.0,10.0,1,2019
11,23726,105.0,finished,suma latha shetty,8800,0:16:56,0,2019-01-13 20:21:00,2019-01-13 20:38:00,casual_user,"Ashar Tiara, Pokhran Road 2, Kolse Wadi, Majiw...",Tata Sirien,2.2,NaN,6.0,1,2019
12,23725,106.0,finished,Shweta Ambade,3343,0:13:17,0,2019-01-13 20:19:00,2019-01-13 20:32:00,casual_user,"Upvan Lake Road, Yashodhan Nagar, Shivai Nagar...",Vartak Nagar,1.7,NaN,2.0,1,2019
13,23724,153.0,finished,Rahul Sonsale,7796,0:08:48,0,2019-01-13 20:14:00,2019-01-13 20:23:00,casual_user,Vartak Nagar,"Pokhran Road 2, Kolse Wadi, Majiwada, ठाणे, Th...",1.5,2.0,NaN,1,2019
16,23721,64.0,finished,rhea duseja,11609,0:02:53,0,2019-01-13 20:00:00,2019-01-13 20:02:00,casual_user,"Vartak Nagar, ठाणे, Thane, Maharashtra, 400610...",Vasant Vihar,0.1,NaN,9.0,1,2019
18,23719,186.0,finished,pradeep balkrishna shinde,13300,0:12:11,0,2019-01-13 19:55:00,2019-01-13 20:07:00,casual_user,EEH Panchpakadi Entrence,"Eastern Express Highway, Dnyaneshwar Nagar, Na...",0.9,21.0,NaN,1,2019
19,23718,239.0,finished,bhavisha vikram doevkar,13504,0:19:13,0,2019-01-13 19:50:00,2019-01-13 20:09:00,casual_user,Tata Sirien,Tata Sirien,1.4,6.0,6.0,1,2019
20,23717,158.0,finished,kusum jain,11037,0:38:27,10,2019-01-13 19:47:00,2019-01-13 20:25:00,casual_user,"Agra Road, Kolse Wadi, Kapur Bawadi, ठाणे, Tha...","Kolse Wadi, Kapur Bawadi, ठाणे, Thane, Maharas...",3.3,NaN,NaN,1,2019
21,23716,176.0,finished,Rajendra Salvi,5671,0:09:12,0,2019-01-13 19:46:00,2019-01-13 19:56:00,casual_user,Shivai Nagar,Singhania School,1.2,14.0,3.0,1,2019
24,23713,112.0,finished,pradeep balkrishna shinde,13300,0:16:59,0,2019-01-13 19:36:00,2019-01-13 19:53:00,casual_user,"Service Road, Dnyaneshwar Nagar, Naupada, ठाणे...","Eastern Express Highway, Dnyaneshwar Nagar, Na...",0.1,NaN,NaN,1,2019
26,23711,231.0,finished,Sandeep Vora,13161,0:19:08,0,2019-01-13 19:30:00,2019-01-13 19:49:00,casual_user,Vartak Nagar,Vartak Nagar,2.4,2.0,2.0,1,2019
27,23710,158.0,finished,kusum jain,11037,0:22:33,0,2019-01-13 19:24:00,2019-01-13 19:46:00,casual_user,"Chendani Koliwada, Thane West, ठाणे, Thane, Ma...","Agra Road, Kolse Wadi, Kapur Bawadi, ठाणे, Tha...",3.5,NaN,NaN,1,2019
28,23709,117.0,finished,Piyush kumar raval,10484,0:20:49,0,2019-01-13 19:21:00,2019-01-13 19:41:00,casual_user,"Happy Valley Homes, Gladys Alwares Road, Kolse...","Happy Valley Homes, Gladys Alwares Road, Kolse...",2.8,NaN,NaN,1,2019
29,23708,70.0,finished,vikas pandurang kulkarni,13297,0:20:49,0,2019-01-13 19:18:00,2019-01-13 19:39:00,casual_user,Patlipada,Patlipada,3.1,12.0,12.0,1,2019
31,23706,77.0,finished,jitendra kumar giri,10520,3:08:14,85,2019-01-13 19:15:00,2019-01-13 22:23:00,casual_user,Yashashvi Nagar,"Pipeline Road, Kolse Wadi, Kapur Bawadi, ठाणे,...",3.8,19.0,NaN,1,2019
32,23704,201.0,finished,shamim shaik,13079,1:01:31,25,2019-01-13 19:13:00,2019-01-13 20:15:00,casual_user,"Hiranandani Estate, Brahmand Nagar, ठाणे, Than...",Patlipada,5.6,NaN,12.0,1,2019
33,23703,153.0,finished,Sandeep Vora,13161,0:17:19,0,2019-01-13 19:11:00,2019-01-13 19:29:00,casual_user,Vartak Nagar,Vartak Nagar,0.9,2.0,2.0,1,2019
36,23700,107.0,finished,NaN,12874,0:05:52,0,2019-01-13 19:00:00,2019-01-13 19:06:00,casual_user,"Kolse Wadi, Kapur Bawadi, ठाणे, Thane, Maharas...",Highland Park,0.7,NaN,18.0,1,2019
38,23698,107.0,finished,NaN,12874,0:04:45,0,2019-01-13 18:49:00,2019-01-13 18:54:00,casual_user,"Dhokali Road, Kolse Wadi, Kapur Bawadi, ठाणे, ...","Kolse Wadi, Kapur Bawadi, ठाणे, Thane, Maharas...",0.7,NaN,NaN,1,2019
39,23697,131.0,finished,sunil kumar trivedi,12198,0:23:57,0,2019-01-13 18:49:00,2019-01-13 19:13:00,subscribed_user,"Brahmand Nagar, ठाणे, Thane, Maharashtra, 4006...","Brahmand Nagar, ठाणे, Thane, Maharashtra, 4006...",3.9,NaN,NaN,1,2019
40,23696,77.0,finished,jitendra kumar giri,10520,0:28:26,0,2019-01-13 18:45:00,2019-01-13 19:13:00,casual_user,"Dhokali Road, Kolse Wadi, Kapur Bawadi, ठाणे, ...",Yashashvi Nagar,4.8,NaN,19.0,1,2019
45,23691,176.0,finished,Rajendra Salvi,5671,0:05:20,0,2019-01-13 18:40:00,2019-01-13 18:45:00,casual_user,Vartak Nagar,"Upvan Lake Road, Yashodhan Nagar, Shivai Nagar...",0.8,2.0,NaN,1,2019
50,23686,74.0,finished,Praveen Kumar,7343,0:22:19,0,2019-01-13 18:29:00,2019-01-13 18:52:00,casual_user,"Service road, Brahmand Nagar, ठाणे, Thane, Mah...",Goodwin Jewellers,4.5,NaN,22.0,1,2019
51,23685,222.0,finished,Shivam Tiwari,12222,0:04:55,0,2019-01-13 18:24:00,2019-01-13 18:29:00,casual_user,Majiwada,"Pokhran Road 2, Kolse Wadi, Majiwada, ठाणे, Th...",1.0,5.0,NaN,1,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13969,9763,NaN,finished,Janardhan Mane,7369,0:13:59,0,2018-02-09 08:58:00,2018-02-09 09:12:00,casual_user,NaN,NaN,0.6,NaN,NaN,2,2018
13972,9760,NaN,finished,Janardhan Mane,7369,0:20:52,0,2018-02-09 08:34:00,2018-02-09 08:55:00,casual_user,NaN,NaN,0.6,NaN,NaN,2,2018
13973,9759,NaN,finished,N.R Nakhare,1840,0:12:27,0,2018-02-09 08:26:00,2018-02-09 08:39:00,casual_user,NaN,NaN,3.7,NaN,NaN,2,2018
13974,9758,NaN,finished,Janardhan Mane,7369,0:20:00,0,2018-02-09 08:12:00,2018-02-09 08:32:00,casual_user,NaN,NaN,0.8,NaN,NaN,2,2018
13975,9757,NaN,finished,N.R Nakhare,1840,0:21:39,0,2018-02-09 08:04:00,2018-02-09 08:26:00,casual_user,NaN,NaN,4.8,NaN,NaN,2,2018
13976,9756,NaN,finished,Janardhan Mane,7369,0:12:32,0,2018-02-09 07:57:00,2018-02-09 08:10:00,casual_user,NaN,NaN,0.8,NaN,NaN,2,2018
13977,9755,NaN,finished,Nikita Bhole,4673,0:35:27,10,2018-02-09 07:51:00,2018-02-09 08:26:00,casual_user,NaN,NaN,1.9,NaN,NaN,2,2018
13978,9754,NaN,finished,Neelima Bhole,4670,0:38:53,10,2018-02-09 07:50:00,2018-02-09 08:29:00,casual_user,NaN,NaN,NaN,NaN,NaN,2,2018
13979,9753,NaN,finished,Janardhan Mane,7369,0:13:40,0,2018-02-09 07:42:00,2018-02-09 07:55:00,casual_user,NaN,NaN,1.2,NaN,NaN,2,2018
13980,9752,NaN,finished,Ramakanta Soni,4173,0:22:12,0,2018-02-09 07:41:00,2018-02-09 08:04:00,casual_user,NaN,NaN,0.1,NaN,NaN,2,2018
13981,9751,NaN,finished,Shoumen Mallick,2213,0:17:43,0,2018-02-09 07:36:00,2018-02-09 07:54:00,casual_user,NaN,NaN,0.2,NaN,NaN,2,2018
13982,9750,NaN,finished,Sanjana Amberkar,3663,0:15:46,0,2018-02-09 06:51:00,2018-02-09 07:07:00,casual_user,NaN,NaN,1.2,NaN,NaN,2,2018
13983,9749,NaN,finished,Sanjana Amberkar,3663,0:01:18,0,2018-02-09 06:50:00,2018-02-09 06:51:00,casual_user,NaN,NaN,1.2,NaN,NaN,2,2018
13984,9748,NaN,finished,NaN,7374,0:45:50,10,2018-02-09 06:37:00,2018-02-09 07:23:00,casual_user,NaN,NaN,2.4,NaN,NaN,2,2018
13985,9747,NaN,finished,Krishna Shukla,7370,0:46:11,10,2018-02-09 06:37:00,2018-02-09 07:23:00,casual_user,NaN,NaN,7.5,NaN,NaN,2,2018
13986,9746,NaN,finished,NaN,7374,0:10:26,0,2018-01-09 21:15:00,2018-01-09 21:26:00,casual_user,NaN,NaN,1.4,NaN,NaN,1,2018
13987,9745,NaN,finished,NaN,7377,0:28:01,0,2018-01-09 19:39:00,2018-01-09 20:07:00,casual_user,NaN,NaN,1.9,NaN,NaN,1,2018
13988,9744,NaN,finished,Ajay Kumar,7376,0:28:59,0,2018-01-09 19:37:00,2018-01-09 20:06:00,casual_user,NaN,NaN,2.2,NaN,NaN,1,2018
13989,9743,NaN,finished,N.R Nakhare,1840,0:23:26,0,2018-01-09 18:16:00,2018-01-09 18:39:00,casual_user,NaN,NaN,2.8,NaN,NaN,1,2018
13990,9742,NaN,finished,Praveen Kumar,7343,0:13:49,0,2018-01-09 18:00:00,2018-01-09 18:14:00,casual_user,NaN,NaN,2.4,NaN,NaN,1,2018
13991,9741,NaN,finished,Praveen Kumar,7343,0:09:14,0,2018-01-09 17:47:00,2018-01-09 17:57:00,casual_user,NaN,NaN,1.4,NaN,NaN,1,2018
13992,9740,NaN,finished,Tushar Edavankar,6616,0:21:58,0,2018-01-09 15:41:00,2018-01-09 16:03:00,casual_user,NaN,NaN,1.0,NaN,NaN,1,2018
13993,9739,NaN,finished,Suraj Mane,3122,20:09:30,200,2018-01-09 11:30:00,2018-02-09 07:40:00,casual_user,NaN,NaN,NaN,NaN,NaN,1,2018
13994,9738,NaN,finished,Avinash Joshi,1025,0:18:29,0,2018-01-09 09:14:00,2018-01-09 09:32:00,casual_user,NaN,NaN,4.7,NaN,NaN,1,2018
13995,9737,NaN,finished,Avinash Joshi,1025,0:25:26,0,2018-01-09 08:48:00,2018-01-09 09:13:00,casual_user,NaN,NaN,4.7,NaN,NaN,1,2018
13996,9736,NaN,finished,N.R Nakhare,1840,0:16:18,0,2018-01-09 08:08:00,2018-01-09 08:25:00,casual_user,NaN,NaN,3.7,NaN,NaN,1,2018
13997,9735,NaN,finished,Janardhan Mane,7369,0:18:58,0,2018-01-09 07:47:00,2018-01-09 08:06:00,casual_user,NaN,NaN,2.4,NaN,NaN,1,2018
13998,9734,NaN,finished,N.R Nakhare,1840,0:22:37,0,2018-01-09 07:46:00,2018-01-09 08:08:00,casual_user,NaN,NaN,4.8,NaN,NaN,1,2018
13999,9733,NaN,finished,Janardhan Mane,7369,0:22:28,0,2018-01-09 07:24:00,2018-01-09 07:46:00,casual_user,NaN,NaN,1.8,NaN,NaN,1,2018
14001,9731,NaN,finished,Sanjana Amberkar,3663,0:17:24,0,2018-01-09 07:13:00,2018-01-09 07:30:00,casual_user,NaN,NaN,1.2,NaN,NaN,1,2018

In [41]:
grouped = df1.groupby('Year')

for name,group in grouped:
        print(name)
        print(group)

2018
          ID  Vehicle ID    Status                   Member  Member ID  \
2187   21549       243.0  finished         santosh Hambarde      12567
2188   21548         9.0  finished       roshan D mhapsekar      12643
2192   21544        69.0  finished                      NaN       4569
2194   21542        63.0  finished        Niraj anil tiwari       9909
2195   21541       104.0  finished              kusum  jain      11037
2197   21539        14.0  finished             Mukesh Patel       8703
2198   21538        69.0  finished                      NaN       4569
2201   21535       104.0  finished              kusum  jain      11037
2203   21533        45.0  finished      prasad shankar waje      11843
2204   21532         9.0  finished         vishal h ajarwar      10717
2206   21530        14.0  finished          Pravin Papalkar       3987
2211   21525       204.0  finished            suhas a kokad      12341
2215   21521       122.0  finished                   Pankaj      10348
2219   21517       243.0  finished     mugdha vivek bhagwat      12665
2224   21512       224.0  finished  bamane tanmay  manikrao       8477
2228   21508        14.0  finished          Tanaji bhansode       4867
2234   21502       204.0  finished            suhas a kokad      12341
2237   21499       243.0  finished           shilpa palande       8678
2238   21498        14.0  finished     geeta ganesh vidwans      12593
2240   21496       115.0  finished                 tejshri       10205
2243   21493        45.0  finished              kusum  jain      11037
2244   21492       106.0  finished       pooja vasu poojary      11426
2246   21490       181.0  finished            Praveen Kumar       7343
2252   21484       243.0  finished                      NaN       2514
2256   21480        14.0  finished  bamane tanmay  manikrao       8477
2259   21477       199.0  finished  Madhav Narayan Aarotale       7779
2261   21475        35.0  finished       Sameer Vaishmpayan      12920
2263   21473       198.0  finished  Madhav Narayan Aarotale       7779
2264   21472       154.0  finished                     Amol       9501
2266   21470        35.0  finished    lakshmi sagar daswami       6317
...      ...         ...       ...                      ...        ...
13969   9763         NaN  finished           Janardhan Mane       7369
13972   9760         NaN  finished           Janardhan Mane       7369
13973   9759         NaN  finished              N.R Nakhare       1840
13974   9758         NaN  finished           Janardhan Mane       7369
13975   9757         NaN  finished              N.R Nakhare       1840
13976   9756         NaN  finished           Janardhan Mane       7369
13977   9755         NaN  finished             Nikita Bhole       4673
13978   9754         NaN  finished            Neelima Bhole       4670
13979   9753         NaN  finished           Janardhan Mane       7369
13980   9752         NaN  finished           Ramakanta Soni       4173
13981   9751         NaN  finished          Shoumen Mallick       2213
13982   9750         NaN  finished         Sanjana Amberkar       3663
13983   9749         NaN  finished         Sanjana Amberkar       3663
13984   9748         NaN  finished                      NaN       7374
13985   9747         NaN  finished           Krishna Shukla       7370
13986   9746         NaN  finished                      NaN       7374
13987   9745         NaN  finished                      NaN       7377
13988   9744         NaN  finished               Ajay Kumar       7376
13989   9743         NaN  finished              N.R Nakhare       1840
13990   9742         NaN  finished            Praveen Kumar       7343
13991   9741         NaN  finished            Praveen Kumar       7343
13992   9740         NaN  finished         Tushar Edavankar       6616
13993   9739         NaN  finished               Suraj Mane       3122
13994   9738         NaN  finished            Avinash Joshi       1025
13995   9737         NaN  finished            Avinash Joshi       1025
13996   9736         NaN  finished              N.R Nakhare       1840
13997   9735         NaN  finished           Janardhan Mane       7369
13998   9734         NaN  finished              N.R Nakhare       1840
13999   9733         NaN  finished           Janardhan Mane       7369
14001   9731         NaN  finished         Sanjana Amberkar       3663

       Duration  Fare          Started at         Finished at  \
2187    0:06:19     0 2018-12-31 21:03:00 2018-12-31 21:09:00
2188   11:45:12   525 2018-12-31 20:14:00 2019-01-01 07:59:00
2192    0:03:16     0 2018-12-31 19:53:00 2018-12-31 19:56:00
2194    0:10:57     0 2018-12-31 19:49:00 2018-12-31 20:00:00
2195    0:34:44    10 2018-12-31 19:46:00 2018-12-31 20:20:00
2197    0:11:48     0 2018-12-31 19:41:00 2018-12-31 19:53:00
2198    0:05:00     0 2018-12-31 19:29:00 2018-12-31 19:34:00
2201    0:20:52     0 2018-12-31 19:23:00 2018-12-31 19:44:00
2203    0:04:30     0 2018-12-31 19:04:00 2018-12-31 19:09:00
2204    0:35:41    10 2018-12-31 19:03:00 2018-12-31 19:39:00
2206    0:27:06     0 2018-12-31 19:01:00 2018-12-31 19:28:00
2211    0:20:38     0 2018-12-31 18:43:00 2018-12-31 19:03:00
2215    0:05:50     0 2018-12-31 18:31:00 2018-12-31 18:37:00
2219    0:18:13     0 2018-12-31 18:30:00 2018-12-31 18:48:00
2224    0:15:40     0 2018-12-31 18:23:00 2018-12-31 18:39:00
2228    0:17:56     0 2018-12-31 18:16:00 2018-12-31 18:34:00
2234    0:17:18     0 2018-12-31 18:07:00 2018-12-31 18:24:00
2237    0:17:04     0 2018-12-31 18:05:00 2018-12-31 18:22:00
2238    0:09:54     0 2018-12-31 18:03:00 2018-12-31 18:13:00
2240    0:09:08     0 2018-12-31 17:55:00 2018-12-31 18:04:00
2243    0:26:19     0 2018-12-31 17:44:00 2018-12-31 18:10:00
2244    0:56:55    10 2018-12-31 17:43:00 2018-12-31 18:40:00
2246    0:11:36     0 2018-12-31 17:30:00 2018-12-31 17:42:00
2252    0:15:52     0 2018-12-31 17:09:00 2018-12-31 17:25:00
2256    0:29:16     0 2018-12-31 16:46:00 2018-12-31 17:15:00
2259    0:01:30     0 2018-12-31 16:32:00 2018-12-31 16:33:00
2261    0:18:32     0 2018-12-31 16:31:00 2018-12-31 16:50:00
2263    0:01:18     0 2018-12-31 16:22:00 2018-12-31 16:23:00
2264    0:06:19     0 2018-12-31 16:21:00 2018-12-31 16:27:00
2266    0:09:01     0 2018-12-31 16:15:00 2018-12-31 16:24:00
...         ...   ...                 ...                 ...
13969   0:13:59     0 2018-02-09 08:58:00 2018-02-09 09:12:00
13972   0:20:52     0 2018-02-09 08:34:00 2018-02-09 08:55:00
13973   0:12:27     0 2018-02-09 08:26:00 2018-02-09 08:39:00
13974   0:20:00     0 2018-02-09 08:12:00 2018-02-09 08:32:00
13975   0:21:39     0 2018-02-09 08:04:00 2018-02-09 08:26:00
13976   0:12:32     0 2018-02-09 07:57:00 2018-02-09 08:10:00
13977   0:35:27    10 2018-02-09 07:51:00 2018-02-09 08:26:00
13978   0:38:53    10 2018-02-09 07:50:00 2018-02-09 08:29:00
13979   0:13:40     0 2018-02-09 07:42:00 2018-02-09 07:55:00
13980   0:22:12     0 2018-02-09 07:41:00 2018-02-09 08:04:00
13981   0:17:43     0 2018-02-09 07:36:00 2018-02-09 07:54:00
13982   0:15:46     0 2018-02-09 06:51:00 2018-02-09 07:07:00
13983   0:01:18     0 2018-02-09 06:50:00 2018-02-09 06:51:00
13984   0:45:50    10 2018-02-09 06:37:00 2018-02-09 07:23:00
13985   0:46:11    10 2018-02-09 06:37:00 2018-02-09 07:23:00
13986   0:10:26     0 2018-01-09 21:15:00 2018-01-09 21:26:00
13987   0:28:01     0 2018-01-09 19:39:00 2018-01-09 20:07:00
13988   0:28:59     0 2018-01-09 19:37:00 2018-01-09 20:06:00
13989   0:23:26     0 2018-01-09 18:16:00 2018-01-09 18:39:00
13990   0:13:49     0 2018-01-09 18:00:00 2018-01-09 18:14:00
13991   0:09:14     0 2018-01-09 17:47:00 2018-01-09 17:57:00
13992   0:21:58     0 2018-01-09 15:41:00 2018-01-09 16:03:00
13993  20:09:30   200 2018-01-09 11:30:00 2018-02-09 07:40:00
13994   0:18:29     0 2018-01-09 09:14:00 2018-01-09 09:32:00
13995   0:25:26     0 2018-01-09 08:48:00 2018-01-09 09:13:00
13996   0:16:18     0 2018-01-09 08:08:00 2018-01-09 08:25:00
13997   0:18:58     0 2018-01-09 07:47:00 2018-01-09 08:06:00
13998   0:22:37     0 2018-01-09 07:46:00 2018-01-09 08:08:00
13999   0:22:28     0 2018-01-09 07:24:00 2018-01-09 07:46:00
14001   0:17:24     0 2018-01-09 07:13:00 2018-01-09 07:30:00

           Member Type                      Starting Parking Station Name  \
2187       casual_user  Korum Mall, Service Road, Dnyaneshwar Nagar, N...
2188       casual_user  Kranti Nagar, Thane West, ठाणे, Thane, Maharas...
2192       casual_user  Gladys Alwares Road, Kolse Wadi, Vartak Nagar,...
2194       casual_user                                       Shivai Nagar
2195       casual_user  Kolse Wadi, Kapur Bawadi, ठाणे, Thane, Maharas...
2197       casual_user                                        Tata Sirien
2198       casual_user                                 Kashinath Ghanekar
2201       casual_user                                      Highland Park
2203   subscribed_user  Kolse Wadi, Kapur Bawadi, ठाणे, Thane, Maharas...
2204       casual_user  Kranti Nagar, Thane West, ठाणे, Thane, Maharas...
2206       casual_user                                        Tata Sirien
2211       casual_user  Eastern Express Highway, Dnyaneshwar Nagar, Na...
2215       casual_user                                       Vihang Hotel
2219       casual_user                                       Vartak Nagar
2224       casual_user                                        Tata Sirien
2228       casual_user                                        Tata Sirien
2234       casual_user  Hanuman Temple, Eastern Express Highway, Dnyan...
2237       casual_user                                       Vartak Nagar
2238       casual_user  Pokhran Road 2, Kolse Wadi, Majiwada, ठाणे, Th...
2240   subscribed_user                                 Kashinath Ghanekar
2243       casual_user  Viviana Mall, Eastern Express Highway, Kolse W...
2244       casual_user  Tatva Dhyan Vidhyapith, Thane Ghodbunder Road,...
2246       casual_user                                   Singhania School
2252       casual_user                                       Vartak Nagar
2256       casual_user                                           Majiwada
2259       casual_user  Service Road, Kolse Wadi, Majiwada, ठाणे, Than...
2261       casual_user                                 Kashinath Ghanekar
2263       casual_user                           EEH Panchpakadi Entrence
2264       casual_user                                        Tata Sirien
2266       casual_user  Vartak Nagar, ठाणे, Thane, Maharashtra, 400610...
...                ...                                                ...
13969      casual_user                                                NaN
13972      casual_user                                                NaN
13973      casual_user                                                NaN
13974      casual_user                                                NaN
13975      casual_user                                                NaN
13976      casual_user                                                NaN
13977      casual_user                                                NaN
13978      casual_user                                                NaN
13979      casual_user                                                NaN
13980      casual_user                                                NaN
13981      casual_user                                                NaN
13982      casual_user                                                NaN
13983      casual_user                                                NaN
13984      casual_user                                                NaN
13985      casual_user                                                NaN
13986      casual_user                                                NaN
13987      casual_user                                                NaN
13988      casual_user                                                NaN
13989      casual_user                                                NaN
13990      casual_user                                                NaN
13991      casual_user                                                NaN
13992      casual_user                                                NaN
13993      casual_user                                                NaN
13994      casual_user                                                NaN
13995      casual_user                                                NaN
13996      casual_user                                                NaN
13997      casual_user                                                NaN
13998      casual_user                                                NaN
13999      casual_user                                                NaN
14001      casual_user                                                NaN

                                End Parking Station Name  Ride Distance  \
2187                                        Vartak Nagar            1.1
2188   Thane Central Jail, Chendani Bunder Road, Kran...            0.8
2192                                  Kashinath Ghanekar            0.4
2194                                        Shivai Nagar            0.3
2195   Kolse Wadi, Kapur Bawadi, ठाणे, Thane, Maharas...            3.6
2197                                  Kashinath Ghanekar            1.9
2198   Happy Valley Homes, Gladys Alwares Road, Kolse...            0.4
2201   Kolse Wadi, Kapur Bawadi, ठाणे, Thane, Maharas...            2.2
2203                                       Highland Park            0.7
2204   Kranti Nagar, Thane West, ठाणे, Thane, Maharas...            1.3
2206                                         Tata Sirien            3.1
2211   Eastern Express Highway, Dnyaneshwar Nagar, Na...            0.8
2215                                       Highland Park            0.8
2219   Korum Mall, Service Road, Dnyaneshwar Nagar, N...            2.3
2224                                  Kashinath Ghanekar            1.7
2228                                         Tata Sirien            2.3
2234   Eastern Express Highway, Dnyaneshwar Nagar, Na...            2.5
2237                                        Vartak Nagar            2.2
2238                                         Tata Sirien            0.2
2240                                  Kashinath Ghanekar            0.9
2243   Agra Road, Kolse Wadi, Kapur Bawadi, ठाणे, Tha...            3.6
2244   Vihang's Inn, Thane Ghodbunder Road, Kolse Wad...            1.9
2246   Chendani Koliwada, Thane West, ठाणे, Thane, Ma...            2.5
2252                                        Vartak Nagar            2.4
2256                                         Tata Sirien            4.2
2259   Yashodhan Nagar, Vartak Nagar, ठाणे, Thane, Ma...            1.4
2261   Brahmand Nagar, ठाणे, Thane, Maharashtra, 4006...            3.3
2263                                       ILC Warehouse            1.6
2264                                            Majiwada            1.6
2266                                  Kashinath Ghanekar            1.4
...                                                  ...            ...
13969                                                NaN            0.6
13972                                                NaN            0.6
13973                                                NaN            3.7
13974                                                NaN            0.8
13975                                                NaN            4.8
13976                                                NaN            0.8
13977                                                NaN            1.9
13978                                                NaN            NaN
13979                                                NaN            1.2
13980                                                NaN            0.1
13981                                                NaN            0.2
13982                                                NaN            1.2
13983                                                NaN            1.2
13984                                                NaN            2.4
13985                                                NaN            7.5
13986                                                NaN            1.4
13987                                                NaN            1.9
13988                                                NaN            2.2
13989                                                NaN            2.8
13990                                                NaN            2.4
13991                                                NaN            1.4
13992                                                NaN            1.0
13993                                                NaN            NaN
13994                                                NaN            4.7
13995                                                NaN            4.7
13996                                                NaN            3.7
13997                                                NaN            2.4
13998                                                NaN            4.8
13999                                                NaN            1.8
14001                                                NaN            1.2

       Starting Parking lot id  End Parking lot id  Month  Year
2187                       NaN                 2.0     12  2018
2188                       NaN                 NaN     12  2018
2192                       NaN                10.0     12  2018
2194                      14.0                14.0     12  2018
2195                       NaN                 NaN     12  2018
2197                       6.0                10.0     12  2018
2198                      10.0                 NaN     12  2018
2201                      18.0                 NaN     12  2018
2203                       NaN                18.0     12  2018
2204                       NaN                 NaN     12  2018
2206                       6.0                 6.0     12  2018
2211                       NaN                 NaN     12  2018
2215                      16.0                18.0     12  2018
2219                       2.0                 NaN     12  2018
2224                       6.0                10.0     12  2018
2228                       6.0                 6.0     12  2018
2234                       NaN                 NaN     12  2018
2237                       2.0                 2.0     12  2018
2238                       NaN                 6.0     12  2018
2240                      10.0                10.0     12  2018
2243                       NaN                 NaN     12  2018
2244                       NaN                 NaN     12  2018
2246                       3.0                 NaN     12  2018
2252                       2.0                 2.0     12  2018
2256                       5.0                 6.0     12  2018
2259                       NaN                 NaN     12  2018
2261                      10.0                 NaN     12  2018
2263                      21.0                13.0     12  2018
2264                       6.0                 5.0     12  2018
2266                       NaN                10.0     12  2018
...                        ...                 ...    ...   ...
13969                      NaN                 NaN      2  2018
13972                      NaN                 NaN      2  2018
13973                      NaN                 NaN      2  2018
13974                      NaN                 NaN      2  2018
13975                      NaN                 NaN      2  2018
13976                      NaN                 NaN      2  2018
13977                      NaN                 NaN      2  2018
13978                      NaN                 NaN      2  2018
13979                      NaN                 NaN      2  2018

In [53]:
df18 = grouped['Member','ID'].get_group(2018)
df18

                        Member     ID
2187          santosh Hambarde  21549
2188        roshan D mhapsekar  21548
2192                       NaN  21544
2194         Niraj anil tiwari  21542
2195               kusum  jain  21541
2197              Mukesh Patel  21539
2198                       NaN  21538
2201               kusum  jain  21535
2203       prasad shankar waje  21533
2204          vishal h ajarwar  21532
2206           Pravin Papalkar  21530
2211             suhas a kokad  21525
2215                    Pankaj  21521
2219      mugdha vivek bhagwat  21517
2224   bamane tanmay  manikrao  21512
2228           Tanaji bhansode  21508
2234             suhas a kokad  21502
2237            shilpa palande  21499
2238      geeta ganesh vidwans  21498
2240                  tejshri   21496
2243               kusum  jain  21493
2244        pooja vasu poojary  21492
2246             Praveen Kumar  21490
2252                       NaN  21484
2256   bamane tanmay  manikrao  21480
2259   Madhav Narayan Aarotale  21477
2261        Sameer Vaishmpayan  21475
2263   Madhav Narayan Aarotale  21473
2264                      Amol  21472
2266     lakshmi sagar daswami  21470
...                        ...    ...
13969           Janardhan Mane   9763
13972           Janardhan Mane   9760
13973              N.R Nakhare   9759
13974           Janardhan Mane   9758
13975              N.R Nakhare   9757
13976           Janardhan Mane   9756
13977             Nikita Bhole   9755
13978            Neelima Bhole   9754
13979           Janardhan Mane   9753
13980           Ramakanta Soni   9752
13981          Shoumen Mallick   9751
13982         Sanjana Amberkar   9750
13983         Sanjana Amberkar   9749
13984                      NaN   9748
13985           Krishna Shukla   9747
13986                      NaN   9746
13987                      NaN   9745
13988               Ajay Kumar   9744
13989              N.R Nakhare   9743
13990            Praveen Kumar   9742
13991            Praveen Kumar   9741
13992         Tushar Edavankar   9740
13993               Suraj Mane   9739
13994            Avinash Joshi   9738
13995            Avinash Joshi   9737
13996              N.R Nakhare   9736
13997           Janardhan Mane   9735
13998              N.R Nakhare   9734
13999           Janardhan Mane   9733
14001         Sanjana Amberkar   9731

[5193 rows x 2 columns]

In [43]:
df18 = df1.sort_values(by=['Ride Distance'],ascending = False)

In [44]:
df18['Member ID'].mode()

0    7798
dtype: int64

In [45]:
group1 = df1.groupby(['Year','Month','Member ID'])

### Finding top 3 users for every month

In [54]:
group1 = df1.groupby(['Year','Month','Member ID']).agg({'ID': 'count', 'Ride Distance': np.sum,'Fare': np.sum}).sort_values('ID',ascending = False).sort_index(level = [0],ascending = [True]).sort_index(level = [1],ascending = [True])
group1

                      ID  Ride Distance  Fare
Year Month Member ID
2018 1     7343       10          19.37    35
           7798        5           1.15     0
           1840        5          11.34    35
           7369        4           8.54     0
           9925        3           4.80     0
           4037        3           6.40     0
           8435        3           0.23     0
           7848        3           5.50     0
           12          2           0.74     0
           1025        2           9.40     0
           6821        2           4.30     0
           9240        2           3.10     0
           6073        2           6.00   525
           8931        2           4.50     0
           5671        2           5.30     0
           7863        2           4.60     0
           9807        2           0.60     0
           9849        2           3.30    10
           9008        2           3.60     0
           9923        2           4.80     0
           7916        2           5.10    10
           7952        2           0.40     0
           8008        2           1.44     0
           8257        2           3.10    45
           8415        2           3.83     0
           8591        2           8.00    35
           9504        2           3.70     0
           7834        2           3.12    10
           4867        2           2.84     0
           9990        2           2.50     0
...                   ..            ...   ...
2019 12    13079       1           0.10     0
           13262       1           3.50     0
           12140       1           4.60    25
           13296       1           3.60     0
           13297       1           4.10   325
           13383       1           5.90    25
           13548       1           3.50     0
           13558       1           2.20     0
           13596       1           5.00    45
           13646       1           1.30     0
           13657       1           2.60     0
           13665       1           1.40     0
           12267       1           2.10     0
           12122       1           0.10     0
           9561        1           3.00     0
           9909        1           0.10     0
           10003       1           7.60    85
           10040       1           2.30     0
           10458       1           4.00     0
           10868       1           3.50     0
           10957       1           3.80     0
           10987       1           0.10     0
           11641       1           1.30     0
           12105       1           4.10     0
           11689       1           2.20     0
           12003       1           6.50   525
           12032       1           4.90    10
           12033       1           5.20     0
           12039       1           2.60     0
           13731       1           5.30    45

[2994 rows x 3 columns]

In [47]:
df2 = (group1.sort_values('ID',ascending = False).sort_index(level = [0],ascending = [True])).sort_index(level = [1],ascending = [True])
df2

                      ID  Ride Distance  Fare
Year Month Member ID
2018 1     7343       10          19.37    35
           7798        5           1.15     0
           1840        5          11.34    35
           7369        4           8.54     0
           7848        3           5.50     0
           8435        3           0.23     0
           4037        3           6.40     0
           9925        3           4.80     0
           12          2           0.74     0
           1025        2           9.40     0
           6821        2           4.30     0
           9240        2           3.10     0
           6073        2           6.00   525
           8931        2           4.50     0
           5671        2           5.30     0
           7863        2           4.60     0
           9807        2           0.60     0
           9849        2           3.30    10
           9008        2           3.60     0
           9923        2           4.80     0
           7916        2           5.10    10
           7952        2           0.40     0
           8008        2           1.44     0
           8257        2           3.10    45
           8415        2           3.83     0
           8591        2           8.00    35
           9504        2           3.70     0
           7834        2           3.12    10
           4867        2           2.84     0
           9990        2           2.50     0
...                   ..            ...   ...
2019 12    10957       1           3.80     0
           6091        1           0.70     0
           13262       1           3.50     0
           13079       1           0.10     0
           12972       1           0.10     0
           12829       1           1.00     0
           6890        1           2.70     0
           7174        1           4.30    25
           8181        1           3.00     0
           8436        1           2.30     0
           8526        1           3.10     0
           9151        1           2.70    10
           9328        1           2.40     0
           4691        1           6.30    10
           3379        1           1.70     0
           682         1           2.00     0
           2374        1           2.30     0
           2404        1           2.50     0
           9368        1           1.20     0
           9393        1           4.60     0
           9501        1           1.70     0
           13088       1           2.70     0
           12593       1           0.60     0
           12636       1           1.10     0
           12664       1           0.90     0
           12712       1           2.50     0
           8067        1           2.60     0
           8060        1           2.80     0
           7808        1           4.40    85
           13731       1           5.30    45

[2994 rows x 3 columns]

In [49]:
df2 = pd.pivot_table(df1,index = ["Year","Month"])
df2.groupby('Member ID').groups

{5861.53025477707: MultiIndex(levels=[[2018, 2019], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]],
            labels=[[0], [9]],
            names=['Year', 'Month']),
 6516.141618497109: MultiIndex(levels=[[2018, 2019], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]],
            labels=[[0], [8]],
            names=['Year', 'Month']),
 7036.582857142857: MultiIndex(levels=[[2018, 2019], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]],
            labels=[[0], [3]],
            names=['Year', 'Month']),
 7296.9047619047615: MultiIndex(levels=[[2018, 2019], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]],
            labels=[[0], [6]],
            names=['Year', 'Month']),
 7355.880794701987: MultiIndex(levels=[[2018, 2019], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]],
            labels=[[0], [2]],
            names=['Year', 'Month']),
 7361.109489051095: MultiIndex(levels=[[2018, 2019], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]],
            labels=[[0], [0]],
            names=['Year', 'Month']),
 7423.230171073094: MultiIndex(levels=[[2018, 2019], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]],
            labels=[[0], [10]],
            names=['Year', 'Month']),
 7495.174193548387: MultiIndex(levels=[[2018, 2019], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]],
            labels=[[0], [1]],
            names=['Year', 'Month']),
 7641.940170940171: MultiIndex(levels=[[2018, 2019], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]],
            labels=[[0], [5]],
            names=['Year', 'Month']),
 7674.4899328859065: MultiIndex(levels=[[2018, 2019], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]],
            labels=[[0], [4]],
            names=['Year', 'Month']),
 7881.940119760479: MultiIndex(levels=[[2018, 2019], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]],
            labels=[[0], [7]],
            names=['Year', 'Month']),
 8820.316426512969: MultiIndex(levels=[[2018, 2019], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]],
            labels=[[0], [11]],
            names=['Year', 'Month']),
 9719.276785714286: MultiIndex(levels=[[2018, 2019], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]],
            labels=[[1], [11]],
            names=['Year', 'Month']),
 9880.041666666666: MultiIndex(levels=[[2018, 2019], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]],
            labels=[[1], [4]],
            names=['Year', 'Month']),
 9908.348484848484: MultiIndex(levels=[[2018, 2019], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]],
            labels=[[1], [5]],
            names=['Year', 'Month']),
 9999.70588235294: MultiIndex(levels=[[2018, 2019], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]],
            labels=[[1], [8]],
            names=['Year', 'Month']),
 10049.55357142857: MultiIndex(levels=[[2018, 2019], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]],
            labels=[[1], [7]],
            names=['Year', 'Month']),
 10235.373333333333: MultiIndex(levels=[[2018, 2019], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]],
            labels=[[1], [3]],
            names=['Year', 'Month']),
 10312.403846153846: MultiIndex(levels=[[2018, 2019], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]],
            labels=[[1], [6]],
            names=['Year', 'Month']),
 10423.418604651162: MultiIndex(levels=[[2018, 2019], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]],
            labels=[[1], [9]],
            names=['Year', 'Month']),
 10457.32142857143: MultiIndex(levels=[[2018, 2019], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]],
            labels=[[1], [1]],
            names=['Year', 'Month']),
 10596.47204968944: MultiIndex(levels=[[2018, 2019], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]],
            labels=[[1], [0]],
            names=['Year', 'Month']),
 10683.375: MultiIndex(levels=[[2018, 2019], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]],
            labels=[[1], [2]],
            names=['Year', 'Month']),
 10761.828947368422: MultiIndex(levels=[[2018, 2019], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]],
            labels=[[1], [10]],
            names=['Year', 'Month'])}